.label{
    -fx-font-family: 'Forum';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 22px;
    -fx-text-fill: #000000;
}.button{
     -fx-font-family: 'Forum';
     -fx-font-style: normal;
     -fx-font-weight: 400;
     -fx-font-size: 20px;
     -fx-text-fill: #000000;
     -fx-background-color: #F67DF9;
     -fx-border-color: none;
     -fx-background-radius: 66px;
     -fx-cursor: HAND;
 }

