.anchor-pane{
    -fx-background-color: #ffebff;
}

.product{
    width: 305px;
    height: 414px;
    border: 1px solid #F67DF9;
    margin-left: 18px;
    margin-bottom: 23px;
}

#imageField{
    -fx-fit-to-width: 130px;
    -fx-fit-to-height: 202px;
}
.label{
    margin-top:0;
    margin-bottom:0;
    -fx-font-family: 'Forum';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-color: #000000;
    -fx-font-size: 27px;
}

#btnAddToBasket{
    -fx-font-family: 'Forum';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 18px;
    -fx-pref-width:260px;
    -fx-pref-height: 53px;
    -fx-background-color: #F67DF9;
    -fx-background-radius: 39px;
    -fx-border-radius: 39px;
    -fx-border-width: none;
    -fx-line-height: 29px;
}

.delete_a{
    text-decoration: none;
    width: 24px;
    height: 28px;
    margin-left: 11px;
    margin-bottom: 14px;
}

.delete_img img{
    width: 24px;
    height: 28px;
    margin-left: 3px;
    margin-top: 0px;
}

.edit_b{
    width: 136px;
    height: 41px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    text-align: center;

    color: #000000;

    background: #F67DF9;
    border-radius: 39px;
    border: none;
}

.edit{
    position: absolute;
    width: 264px;
    height: 41px;
    margin-left: 8px;
    margin-bottom: 11px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#btnBack{
    -fx-font-family: 'Forum';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
    -fx-background-color: none;
    -fx-underline: true;
    -fx-cursor: HAND;
}

.spinner{
    -fx-border-radius: 26px;
    -fx-background-radius: 26px;
}

.spinner .text-field{
    -fx-background-radius: 26px 0 0 26px;
    -fx-border-radius: 26px 0 0 26px;
}
.spinner .increment-arrow-button, .spinner .decrement-arrow-button{
    -fx-background-color: #F67DF9;
}

.spinner .increment-arrow-button{
    -fx-border-radius: 0 26px 0 0;
    -fx-background-radius: 0 26px 0 0;
}

.spinner .decrement-arrow-button{
    -fx-border-radius: 0 0 26px 0;
    -fx-background-radius: 0 0 26px 0;
}

.button{
    -fx-font-family: 'Forum';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 18px;
    -fx-background-color: #F67DF9;
    -fx-background-radius: 39px;
    -fx-border-radius: 39px;
    -fx-border-width: none;
    -fx-line-height: 29px;
}

.text-field{
    -fx-font-family: 'Forum';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
    -fx-border-color: none;
    -fx-prompt-text-fill: #000000;
    -fx-background-radius: 26px;
}

.text-area{
    -fx-font-family: 'Forum';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
}

.text-field:focused, .combo-box:focused, .text-area:focused{
    -fx-background-color: #F67DF9, white;
}

.combo-box{
    -fx-font-family: 'Forum';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
    -fx-background-radius: 26em;
    -fx-pref-width: 147px;
    -fx-pref-height: 20px;
    -fx-label-padding: 30px;
    -fx-background-color: #F67DF9;
    -fx-prompt-text-fill: #000000;
}

.combo-box-base .arrow-button .arrow{
    -fx-background-color: #000000;
}

.combo-box .list-view{
    -fx-text-fill: #000000;
}

.combo-box .combo-box-popup .list-view .list-cell:hover,
.combo-box .combo-box-popup .list-view .list-cell:selected{
    -fx-background-color: #F67DF9;
}